<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="../../public/burger_style.css" type="text/css" />
</head>
<body>
    <h1>Erik's Burger Shack</h1>

    {{{ body }}}

    <br/>
    <br/>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1"><strong>Add a Burger</strong></label>
            <input class="form-control" id="Input">
        </div>
    
        <button type="submit" class="btn btn-danger" id="Add">Add Burger</button>
    </form>
    
    <script>
        class Burger {
            constructor(name) {
                this.name = name;
                this.devoured = false;
            }
        };

        $("#Add").on("click", function(event) {
            event.preventDefault();

            const burgerName = $("#Input").val();
            $("#Input").val("");

            if(burgerName === ""){
                return
            };

            const burger = new Burger(burgerName);

            $.ajax({
                type: "POST",
                url: "/api/burgers",
                data: {name: burger.name}
            });
        });
    </script>
</body>
</html>