<div>
    {{#each burgers}}
        {{#if this.devoured}}

        {{else}}
            <div>
                <br/>
                <span>{{this.name}}</span> <span><button data-id={{this.id}}>Eat</button></span>
                <br/>
            </div>
        {{/if}}
    {{/each}}
</div>